project:
  type: website

website:
  title: "EPNix documentation"
  description: "Build, package EPICS IOCs and more using the Nix package manager"
  favicon: ./logo.svg
  repo-url: "https://github.com/epics-extensions/EPNix"
  repo-actions: [issue]
  page-navigation: true
  reader-mode: true
  navbar:
    search: true
    logo: ./logo.svg
    left:
      - text: "EPICS IOCs"
        file: ./ioc/introduction.md
      - text: "Packages"
        file: ./pkgs/introduction.md
      - text: "NixOS"
        file: ./nixos/introduction.md
  sidebar:
    - title: EPICS IOCs
      contents:
        - text: Introduction
          file: ./ioc/introduction.md
        - section: User Tutorials
          file: ./ioc/tutorials.md
          contents:
            - ./ioc/tutorials/getting-started.md
            - ./ioc/tutorials/porting.md
            - ./ioc/tutorials/day-to-day-dev.md
            - ./ioc/tutorials/integration-tests.md
            - ./ioc/tutorials/creating-a-mock-server.md
            - ./ioc/tutorials/adding-options.md
        - file: ./ioc/guides.md
          contents:
            - ./ioc/guides/private-repo-setup.md
            - ./ioc/guides/flake-registry.md
            - ./ioc/guides/developing-modules.md
            - ./ioc/guides/pinning.md
            - ./ioc/guides/override-package.md
            - section: Testing
              file: ./ioc/guides/testing.md
              contents:
                - ./ioc/guides/testing/packaging-python-scripts.md
                - ./ioc/guides/testing/unit-tests.md
        - file: ./ioc/explanations.md
        - file: ./ioc/developer-tutorials.md
        - file: ./ioc/developer-guides.md
          contents:
            - ./ioc/developer-guides/packaging-modules.md
            - ./ioc/developer-guides/guidelines.md
            - ./ioc/developer-guides/packaging.md
            - ./ioc/developer-guides/glossary.md
        - file: ./ioc/references.md
          contents:
            - ./ioc/references/options.md
            - ./ioc/references/packages.md
        - ./ioc/faq.md
    - title: Packages
      contents:
        - text: Introduction
          file: ./pkgs/introduction.md
        - section: References
          contents:
            - ./pkgs/packages.md
    - title: NixOS
      contents:
        - title: NixOS
          file: ./nixos/introduction.md
        - section: Tutorials
          contents:
            - ./nixos/tutorials/archiver-appliance.md
        - section: User Guides
          contents:
            - ./nixos/guides/ca-gateway.md
            - ./nixos/guides/phoebus-alarm.md
            - ./nixos/guides/phoebus-save-and-restore.md
        - section: Explanations
        - section: References
          contents:
            - ./nixos/options.md

format:
  html:
    theme:
      light: simplex
      dark: darkly
    highlight-style: gruvbox
    number-sections: false
    reference-location: margin
    citation-location: margin
    code-copy: true
    toc: true
    shift-heading-level-by: 1
