a.external:not(:has(.viewcode-link))::after,
a:has(.std-term)::after,
a:has(.nix-option)::after,
a:has(.nix-pkg)::after {
	content: "";
	position: relative;
	top: -.6em;
	padding-left: .7em;

	margin: 0 .2em;

	background: currentColor;
	mask: url("external-link.svg") bottom no-repeat;
	mask-size: contain;
}

a:has(> code:last-child)::after {
	margin-left: 0;
}

a.external:not(:has(.viewcode-link))[href^="mailto:"]::after {
	mask-image: url("mail.svg");
}

a.external:not(:has(.viewcode-link))[href^="https://en.wikipedia.org/"]::after {
	mask-image: url("wiki.svg");
}

a.external.github:not(:has(.viewcode-link))::after {
	mask-image: url("github.svg");
}

a:has(.std-term)::after {
	mask-image: url("term.svg");
}

a:has(.nix-option)::after {
	mask-image: url("option.svg");
}

a:has(.nix-pkg)::after {
	mask-image: url("package.svg");
}
