a.external:not(:has(.viewcode-link))::after {
	content: "";
	display: inline-block;
	height: .8em;
	margin: 0 .15em;

	background: currentColor;
	mask: url("external-link.svg") bottom no-repeat;
	mask-size: .8em;
	padding-left: .8em;
	vertical-align: baseline;
}

a.external.github:not(:has(.viewcode-link))::after {
	mask-image: url("github.svg");
}
