.tippy-box {
    background-color: var(--color-background-secondary);
    color: var(--color-content-foreground);
    border: 1px solid var(--color-background-border);
	box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1);
}

.tippy-arrow {
	color: var(--color-background-border);
}
