name: "Book GitHub Pages"

on:
  # Allows running this workflow manually
  workflow_dispatch:
  push:
    # The book must be built from only the master branch,
    # in order to have a single file that defines the build,
    # and not 3+ 'book-gh-pages.yml' files on each branch which must be the same.
    branches: [master]

permissions:
  contents: read

# Only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    if: "github.repository_owner == 'epics-extensions'"

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:

      # Checkout all documentation versions
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: master
          path: dev
          persist-credentials: false
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: nixos-24.11
          path: nixos-24.11
          persist-credentials: false
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: nixos-24.05
          path: nixos-24.05
          persist-credentials: false

      - uses: nixbuild/nix-quick-install-action@25aff27c252e0c8cdda3264805f7b6bcd92c8718 # v29
      - uses: nix-community/cache-nix-action@dab0514428ae3988852b7787a6d86a6fc571cc9d # v6.0.0
        with:
          primary-key: build-docs-${{ hashFiles('.github/workflows/book-gh-pages.yml', 'flake.lock') }}
          purge: true
          purge-last-accessed: 2629800 # 1 month
          purge-prefixes: build-docs-
          purge-primary-key: never

      - name: "Build documentation books"
        run: |
          nix run --print-build-logs './dev#ci-scripts/build-docs-multiversion'

      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - name: Upload artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: './book'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
