name: "Check EditorConfig"

permissions:
  contents: read

on:
  pull_request:

jobs:
  editorconfig:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
    - name: "Check EditorConfig"
      run: |
        nix run 'nixpkgs#editorconfig-checker' --inputs-from . -- -format github-actions -no-color
