name: "Check EditorConfig"

permissions: read-all

on:
  push:
  pull_request:

jobs:
  editorconfig:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
    - name: "Check EditorConfig"
      run: nix run 'nixpkgs#eclint' --inputs-from .
