name: "Check EditorConfig"

permissions:
  contents: read

on:
  pull_request:

jobs:
  editorconfig:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
    - name: "Check EditorConfig"
      run: |
        nix run 'nixpkgs#editorconfig-checker' --inputs-from . -- -format github-actions -no-color
