name: "Check Formatting"

permissions:
  contents: read

on:
  pull_request:

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
    - name: "Check Formatting"
      run: nix fmt -- --ci
